.gang {
    animation: gangMove 10s linear forwards;
    z-index: 1!important;
  }
  
  /* Animación de desplazamiento lateral (de izquierda a derecha) */
  @keyframes gangMove {
    0% {
      transform: translateX(-100vw); /* Comienza fuera de la pantalla a la izquierda */
      /* opacity: 1; */
    }
    100% {
      transform: translateX(80vw); /* Termina antes de llegar al borde derecho de la pantalla */
      /* opacity: 0; */
    }
  }
  
  span {
    display: block;
    width: 50px; /* Ajusta el tamaño del contenedor si es necesario */
    height: 50px;
  }
  
  svg {
    width: 100%; /* Asegura que el SVG ocupe todo el espacio disponible */
    height: auto;
  }