<h2>Hire Resources</h2>
@for (upgrade of clickUpgrades$ | async; track upgrade) {
  <div>
    @if (upgrade.requiredPoints <= ((totalPoints$ | async) ?? 0)) {
      <div>
        <button (click)="buyClickUpgrade(upgrade.id)" [disabled]="upgrade.cost > ((points$ | async) ?? 0)" class="upgrade__button">
          <div class="upgrade__button__icon"> 
            <div *ngComponentOutlet="upgrade.icon ?? null" ></div>
          </div>
          <div class="upgrade__button__text"> 
            {{ upgrade.name }} {{ upgrade.cost }}$ (+{{ upgrade.pointsIncrease }}$/deal)
          </div>
          <!-- <span *ngIf="upgrade.count > 0">(+{{ ((pointsPerClick$ | async) ?? 0) }}$/deal)</span> -->
        </button> {{ upgrade.count }}
      </div>
    }
  </div>
}