.container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.dev-tools {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .dev-tools label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }