<div class="container">
    <div class="dev-tools">
      <label>
        Points:
        <input type="number" [(ngModel)]="_gameService.points" (change)="updatePoints(_gameService.points)">
      </label>
      <label>
        Total Points:
        <input type="number" [(ngModel)]="_gameService.totalPoints" (change)="updateTotalPoints(_gameService.totalPoints)">
      </label>
      <label>
        Points Per Click:
        <input type="number" [(ngModel)]="_gameService.pointsPerClick" (change)="updatePointsPerClick(_gameService.pointsPerClick)">
      </label>
      <label>
        Points Per Second:
        <input type="number" [(ngModel)]="_gameService.pointsPerSecond" (change)="updatePointsPerSecond(_gameService.pointsPerSecond)">
      </label>
      <label>
        Defense Points:
        <input type="number" [(ngModel)]="_gameService.defensePoints" (change)="updateDefensePoints(_gameService.defensePoints)">
      </label>
    </div>
</div>
