<div class="game">

  <section class="top">
    <h1 class="title">-Drug Lord Clicker-</h1>
  </section>

  <div class="bottom">
    <section class="left">
      <app-defense class="defense"></app-defense>
      <app-click-upgrades class="upgrades"></app-click-upgrades>
    </section>
  
    <section class="middle">
      <app-score></app-score>
      <app-clicker></app-clicker>
      <app-empire-view></app-empire-view>
      <app-achievements></app-achievements>
    </section>
  
    <section class="right">
      <app-upgrades class="upgrades"></app-upgrades>
    </section>
  </div>

  

</div>
