.container {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 4px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 0 4px #ccc, 0 0 0 8px black;
}

.patrol-rectangle {
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 129px;
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    background-image: url('../../../assets/empty-city-long-road-along-260nw-1932192143.webp');
    background-size: cover;
    background-position: center top; 
}

.patrol-rectangle:not(:last-child) {
    margin-bottom: 5px;
}
  
  .patrol-icon {
    position: absolute;
    animation: patrolAnimation 5s linear infinite alternate;
    font-size: 24px;
  }
  
  @keyframes patrolAnimation {
    from {
      left: 0;
    }
    to {
      left: 100%;
    }
  }

  .container::-webkit-scrollbar {
    width: 12px;
  }
  
  .container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  