<h2>Invest in Drug Empire</h2>
@for (upgrade of upgrades$ | async; track upgrade) {
  <div>
    @if (upgrade.requiredPoints <= ((totalPoints$ | async) ?? 0)) {
      <div>
        {{ upgrade.count }}
        <button (click)="buyUpgrade(upgrade.id)" [disabled]="upgrade.cost > ((points$ | async) ?? 0)">
          {{ upgrade.name }} {{ upgrade.cost }}$ (+{{ upgrade.increase }}$/week)
          <!-- <span *ngIf="upgrade.count > 0">(+{{ ((pointsPerSecond$ | async) ?? 0) }} $/week)</span> -->
        </button>
      </div>
    }
  </div>
}