<h2>Invest in Drug Empire</h2>
@for (upgrade of upgrades$ | async; track upgrade) {
    @if (upgrade.requiredPoints <= ((totalPoints$ | async) ?? 0)) {
      <div class="container">
        <div class="upgrade__count">
          {{ upgrade.count }}
        </div>
        <button
          class="upgrade__button"
          (click)="buyUpgrade(upgrade.id)" 
          [disabled]="upgrade.cost > ((points$ | async) ?? 0)">
          <div class="upgrade__button__icon"> 
            <div *ngComponentOutlet="upgrade.icon ?? null" ></div>
          </div>
          <div class="upgrade__button__text"> 
            {{ upgrade.name }} {{ upgrade.cost }}$ (+{{ upgrade.pointsIncrease }}$/week)
          </div>
        </button>
      </div>
    }
}