.container {
  margin-top: 1rem;
  background-image: url('https://img.freepik.com/premium-vector/pixel-art-landscapes-flower-field-background_52683-125359.jpg');
  background-size: cover;
  width: 574px;
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  align-items: end; 
  justify-items: center; 
  gap: 10px; 
  border: 4px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 0 4px #ccc, 0 0 0 8px black;
}

.farm {
  width: 50px;
  height: 50px;
}