.container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}

.defense__button {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 8px 16px;
  cursor: pointer;
}
  
.defense__button__icon {
  margin-right: 16px;
}

.defense__count {
  margin-left: 8px;
}